/*BLUR*/
.blur img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.blur img:hover {
  -webkit-filter: blur(10px);
}

.description {
	color: white;
	position: absolute;
	top: 10px;
	left: 20px;
	
	opacity: 0;	
/*	visibility: hidden;
*/
		 transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
 -webkit-transition: opacity 1s ease-in-out;
}


.wrap:hover  .description {
	 opacity: 1;
	 visibility: visible;

}



.wrap {
	position: relative;
}